streamlit
st-pages 
streamlit-extras
streamlit-audiorec
google-api-python-client
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
oauth2client
datasets >= 1.18.0
torch >= 1.5
torchaudio
transformers